<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<nav-bar></nav-bar>
<div class='container'>
  <div class="row">
        <div class="col-6">
            <form>
                  <div class="row">
                    <div class="form-group col-6">
                        <label for="carrera">Carrera</label>
                          <input disabled [value]="encuesta.desc_carrera" name="desc_carrera" type="text" class="form-control" id="inputEmail" placeholder="">
                      </div>  
                    <div class="form-group col-6">
                        <label for="asignatura">Asignatura</label>
                        <input disabled [value]="encuesta.desc_clase" name="desc_carrera" type="text" class="form-control" id="inputEmail" placeholder="">
                    </div>
                    <div class="form-group col-6">
                        <label disabled  for="catedratico">Catedratico</label>
                        <input disabled [value]="encuesta.catedratico_clase" name="desc_carrera" type="text" class="form-control" id="inputEmail" placeholder="">
                    </div>
                    <div class="form-group col-6">
                        <label for="asignatura">Horario</label>
                        <input disabled [value]="horario()" name="desc_carrera" type="text" class="form-control" id="inputEmail" placeholder="">
                    </div>
                    <hr>
                    <div class="form-group  col-6">
                        <label for="asignatura">Periodo</label>
                        <input disabled [value]="encuesta.periodo" name="desc_carrera" type="text" class="form-control" id="inputEmail" placeholder="">
                    </div>
                    <h3>Fecha Apertura de Encuesta</h3>
                    <hr>
                    <br>
                    <div class="form-group col-6">
                        <label for="asignatura">Inicio</label>
                        <input disabled [value]="encuesta.fecha_inicio" name="desc_carrera" type="text" class="form-control" id="inputEmail" placeholder="">
                    </div>
                    <div class="form-group col-6">
                        <label for="asignatura">Fin</label>
                        <input disabled [value]="encuesta.fecha_fin" name="desc_carrera" type="text" class="form-control" id="inputEmail" placeholder="">
                    </div>
                    </div>
                </form>
              </div>
            
              <div class="col-6">
                    <form (ngSubmit)="submit()" action="row">
                      <div class="row">
                        <div class="form-group col-12">
                            <label for="carrera"><strong>Acepto el horario propuesto</strong></label>
                            <input class="form-control" type="checkbox" [(ngModel)]="voto.aceptacion" name="aceptacion" val="true">
                        </div>
                        <div class="form-group col-6">
                            <label for="carrera">Dinero</label>
                            <select [disabled]="voto.aceptacion" [(ngModel)]="voto.dinero" name="dinero" type="text" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="carrera">Horario</label>
                            <select  [disabled]="voto.aceptacion" [(ngModel)]="voto.horario" name="horario" type="text" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                                <label for="carrera">Campus</label>
                                <select  [disabled]="voto.aceptacion"  [(ngModel)]="voto.campus" name="campus" type="text" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label for="carrera">Transporte</label>
                                <select  [disabled]="voto.aceptacion" [(ngModel)]="voto.transporte" name="transporte" type="text" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                    <label for="carrera">Catedratico</label>
                                    <select  [disabled]="voto.aceptacion"  [(ngModel)]="voto.catedratico" name="catedratico" type="text" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label for="carrera">Otros</label>
                                    <select  [disabled]="voto.aceptacion" [(ngModel)]="voto.otros" name="otros" type="text" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="form-group col-12">
                                    <label for="carrera">Descripcion</label>
                                    <textarea  [disabled]="voto.aceptacion" [(ngModel)]="voto.descripcion" name="otros" type="text" class="form-control"></textarea>
                                </div>
                    </div>
                    <button type="submit" class="btn btn-success pull-right">Votar</button>
                    </form>
                  </div>
  </div>
</div>
