<nav-bar></nav-bar>
<div class="container">
    <div class="col-12">
        <h4>Registro de Usuarios</h4>
    </div>  
    <div class="col-12 text-right">
        <button [routerLink]="['/usuario/crear']" type="button" class="btn btn-success">Crear Usuario</button>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nombre Usuario</th>
                <th>Correo</th>
                <th>Carrera</th>
                
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{ usuario.nombre.nombres }} {{ usuario.nombre.apellidos }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.desc_carrera }}</td>
                    
                    <td><a (click)='delete(usuario._id)' class="btn btn-danger">Eliminar</a></td>
                </tr>
            </tbody>
         </table>
    </div>
</div>


