<!-- index.component.html -->
<nav-bar></nav-bar>

<div class="container">
        
                <h2 class="text-center">Lista de Pensums</h2>
               <br>
    <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nombre Pensum</th>
                    <th>Carrera</th>
                    
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
              
                <tbody>
                    <tr *ngFor="let pensum of pensums">
                          <td>{{ pensum.nombre }}</td>
                        <td>{{ pensum.desc_carrera }}</td>
                        
                        <td><a [routerLink]="" class="btn btn-primary">Editar</a></td>
                        <td><a [routerLink]="" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                </tbody>
              </table>
</div>
