<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <canvas id="canvasBarraH">
          {{graficoCircular}}
        </canvas>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <canvas id="canvasCircular">
          {{graficoBarraH}}
        </canvas>
      </div>
    </div>
  </div>
</div>
<div class="row" style="height: 25px;"></div>
<div class="row" style="height: 250px;">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <canvas id="canvasBarra">
          {{graficoBarra}}
        </canvas>
      </div>
    </div>
  </div>
</div>