<nav-bar ></nav-bar>
<div class='container'>
    <div class="col-12">
        <div class="col-12">
            <h2 class="text-center">Crear/Publicar Nueva encuesta</h2>
        </div>
    </div>
    <div class="col-12">
        <form (ngSubmit)="submit()">
            <div class="row">
                <div class="col">
                    <div class="form-group text-left">
                        <label for="carrera" >Carrera</label>
                            <input disabled [value]="encuesta.desc_carrera" name="desc_carrera" type="text" class="form-control" id="inputEmail" placeholder="">
                        </div>  
                    <div class="form-group  text-left">
                        <label for="asignatura">Asignatura</label>
                        <select [(ngModel)]="encuesta.id_clase" name="desc_carrera" class="form-control" placeholder="Elija una clase">
                                <option value=""></option>
                            <option *ngFor="let pensum of pensums" value="{{pensum._id}}_{{pensum.desc_clase}}">
                                {{pensum.id_clase}} {{pensum.desc_clase}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group  text-left">
                        <label for="catedratico">Catedratico</label>
                        <select [(ngModel)]="encuesta.catedratico_clase" name="catedratico_clase" class="form-control" placeholder="Elija un catedratico">
                            <option value=""></option>
                            <option *ngFor="let catedratico of catedraticos">
                                {{catedratico.id_catedratico}} {{catedratico.nombre.nombres}} {{catedratico.nombre.apellidos}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group  text-left">
                        <label for="asignatura">Horario</label>
                        <week-day-selector
                        [selectedDays]="encuesta.dias"
                        (toggleSelectedDay)="toggleDay($event)"
                        >
                        </week-day-selector>
                                <input disabled [(ngModel)]="encuesta.dias" name="dias" type="email" [value]="encuesta.getDate()" class="form-control" id="inputEmail" placeholder="Hora y dias">
                            <input [(ngModel)]="encuesta.hora" name="hora" [ngxTimepicker]="picker" placeholder="horario">
                            <ngx-material-timepicker #picker></ngx-material-timepicker> 
                    </div>
                        
                </div>
                <div class="col">
                    <div class="col-12 col-sm-6">
                        <div class="form-group  text-left">
                            <label for="asignatura">Periodo</label>
                            <input [(ngModel)]="encuesta.periodo" name="periodo" type="email" class="form-control" id="inputEmail" placeholder="Periodo">
                        </div>
                    </div>
                    <h4>Fecha Apertura de Encuesta</h4>
                    <hr>
                    <div class="col-12 col-sm-6">
                        <div class="form-group  text-left">
                            <label for="asignatura">Inicio</label>
                            <input [(ngModel)]="encuesta.fecha_inicio" name="fecha_inicio" type="email" class="form-control" id="inputEmail" placeholder="Inicio">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group  text-left">
                            <label for="asignatura">Fin</label>
                            <input [(ngModel)]="encuesta.fecha_fin" name="fecha_fin" type="email" class="form-control" id="inputEmail" placeholder="Fin">
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <button type="submit" class="btn btn-success">GUARDAR</button>
                        &nbsp;
                        <span *ngIf="isNewRecord()" (click)='publicar()' class="btn btn-primary">GUARDAR Y PUBLICAR</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>