<div class='container'>
  <h1 class="text-center">Isaias Andino</h1>
  <h2 class="text-center">Crear/Publicar Nueva encuesta</h2>
  <div class="col-xs-12">
    <form action="row">
      <div class="col-xs-12 col-sm-6">
          <strong>Encuesta No.</strong>{{encuesta.id}}
          <div class="form-group">
            <label for="asignatura">Asignatura</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Asignatura">
          </div>
          <div class="form-group">
              <label for="asignatura">Catedratico</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Catedratico">
          </div>
          <div class="form-group">
              <label for="asignatura">Horario</label>
              <week-day-selector
              [selectedDays]="encuesta.days"
              (toggleSelectedDay)="toggleDay($event)"
              ></week-day-selector>
              <input type="email" [value]="encuesta.getDate()" class="form-control" id="inputEmail" placeholder="Horario">
            </div>
            <input [ngxTimepicker]="picker">
            <ngx-material-timepicker #picker></ngx-material-timepicker>
          <hr>

      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="form-group">
              <label for="asignatura">Periodo</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Periodo">
          </div>
      </div>
      <h3>Fecha Apertura de Encuesta</h3>
      <div class="col-xs-12 col-sm-6">
          <div class="form-group">
              <label for="asignatura">Inicio</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Inicio">
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="form-group">
              <label for="asignatura">Fin</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Fin">
          </div>
      </div>
      <div class="col-xs-12 text-center">
          <button type="submit" class="btn btn-success">PUBLICAR</button>
      </div>
    </form>
  </div>
</div>