<nav-bar></nav-bar>
<br>
<div class="container">
	<div class="row" >
    <div class="col-md-12">
      <h4>Registro de Clases</h4>
        <div class="table-responsive">
          <div class="row">
            <button [routerLink]="['/pensum/clases/crear']" type="button" class="btn btn-success">Crear Clase</button>
          </div>
          <table id="mytable" class="table table-bordred table-striped">  
            <thead> 
              <th><input type="checkbox" id="checkall" /></th>
              <th>Clase</th>
              <th>Id Requisito</th>
              
              <th>Editar</th>   
              <th>Eliminar</th>
            </thead>
            <tbody>
            <tr *ngFor="let clase of clases">
              <td><input type="checkbox" class="checkthis" /></td>
              <td>{{clase.desc_clase}}</td>
              <td>{{clase.id_requisito}}</td>
              <td><a [routerLink]="" class="btn btn-primary">Editar</a></td>
              <td><a [routerLink]="" class="btn btn-danger">Eliminar</a></td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
        <ul class="pagination pull-right">
          <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>    
      </div>        
    </div>
	</div>
</div>